.leaflet-custom-control
{
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
	border-radius:5px;

	min-width: 39px;
	min-height: 39px;
	
	padding: 5px;
	margin: 0;
	background-color: white;
} 

.leaflet-custom-control.maximized
{
	display: block;
	position: fixed;
	left: 10px;
	bottom: 0px;
	width: calc(100% - 30px);
	max-height: calc(100% - 30px);
}

.leaflet-custom-control .header 
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	line-height: 39px;
	min-height: 39px;
}

.leaflet-custom-control .header > span
{
	font-size: 16px;
}

.leaflet-custom-control .content 
{
	border-top: 1px solid rgba(0, 0, 0, 0.21);
	padding: 5px;
	padding-top: 15px;
	margin-top: 5px;
}

.leaflet-custom-control .header > span { margin-left: 1ex; }


.leaflet-custom-control.minimized .content { display: none; }
.leaflet-custom-control.minimized .header { color: rgb(96, 96, 96); }
.leaflet-custom-control.minimized .header > span { display: none; }

.leaflet-custom-control.maximized .content { display: flex; }
.leaflet-custom-control.maximized .header { color: black; }

