/*
@import 'css/component.css';
*/

html, body
{
	display: block;

	height: 100%;
	width: 100vw;

	margin: 0;
	padding: 0;
	border: 0;

	background-color: #4e4d4d;
	background-image: url('images/background.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/** HTML ELEMENTS **/

a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.67) !important;
}
hr
{
	display: block;
	width: 100%;
	height: 0px;

	border: 0px solid white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

/** MARKER **/

section.marker
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

section.marker > img
{
	display: inline-block;
	border: 0;
	width: 1.75rem;
	height: 1.75rem;
	padding: 0.25rem 0rem;
	margin-right: 0.5rem;
	line-height: 2.0rem;
}

section.marker > div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

span.markerContactField
{
	display: block;
	padding-top: 0.2rem;
	padding-bottom: 0.1rem;
	padding-left: 1ex;
	padding-right: 1ex;

	max-width: calc(100% - 2ex);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.marker_actions
{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;

	margin: 4px;
	margin-top: 12px;
	padding: 0;
}

.marker_actions > li,
.marker_actions > li > a
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 63px;

	padding: 2px;
}

.marker_actions > li > a > i
{
	height: 1.50rem;
	line-height: 1.50rem;
	font-size: 1.50rem;
	text-align: center;
	margin-bottom: 4px;
}

.marker_actions > li > a > img
{
	width: 1.50rem;
	height: 1.50rem;
	margin-bottom: 4px;
}

.marker_actions > li > a > small
{
	font-size: 10px;
	text-align: center;
}


/** COMMUNITY **/

.community > .content
{
	display: flex;
	flex-direction: column;
}

.community > .content > b
{
	margin-left: 1ex;
}

.community > .content > ul
{
	display: flex;
	box-sizing: border-box;
	list-style-type: none;

	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
	height: auto;

	border: 0;
	margin: 0;
	padding: 0;
}

.community > .content > ul > li
{
	display: flex;
	box-sizing: border-box;

	flex-direction: row;

	width: 100%;
	height: auto;

	border: 0;
	margin: 0;
	padding: 1ex;
	padding-left: 0;
}

.community > .content > ul > li > section
{
	display: flex;
	box-sizing: border-box;

	flex-direction: column;
}

.community > .content > ul > li > i
{
	display: inline-block;
	width: 32px;
	text-align: center;
	font-size: 24px;
	padding: 5px;
	margin-right: 5px;
}

/** TOOLBAR **/
.deviceLocation *
{
	color: black !important;
	font-size: x-large;
}
